<turbo-stream action="replace" target="place_details">
  <template>
    <div id="place_details" class="flex w-full">
      <div class="w-full overflow-y-scroll p-5">
        <div class="mb-3">
          <span class="bg-yellow-100 p-2 text-xs md:text-lg">📍 Your Stop: <span class="font-bold"><%= @place.name %></span></span>
        </div>
        <div class="flex flex-col gap-3 divide-y divide-slate-700">
          <% @articles.each do |article| %>
            <%= link_to(article[:url], target: "_blank") do %>
              <div class="flex gap-3 mt-3 hover:border-2 hover:border-dashed">
                <%= image_tag(article[:image].presence || image_path("default_article_image.png"), data: { default: image_path("default_article_image.png") }, class:"article_img w-3/12 object-cover", loading: "lazy") %>
                <div>
                  <p class="font-semibold text-xs md:text-lg">
                    <%= article[:title] %>
                    <%= image_tag(article[:favicon] || '', class:"w-5 inline mx-2", loading: "lazy") %>
                  </p>
                  <p class="text-xs"><%= article[:short_description] || '' %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= render partial:"sidenav", formats: :html, locals: { active_index: 0 } %>
    </div>
  </template>
</turbo-stream>
